<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo">HireMe</span>

  <span class="spacer"></span>


  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

@if (currentUser$ | async; as user) {
  <button
    mat-icon-button
    routerLink="/profile"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
}
  <button mat-icon-button
  (click)="handleLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
